
{{#if user}}


<div class="card text-center painel">
  <div class="card-header ">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active" href="/novoPost"><i class="far fa-plus-square"></i> Novo Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ultimos">Ultimos Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gerenciar">Gerenciar Posts</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="/cadastro"><i class="fas fa-plus"></i> Novo usuário</a>
      </li>
       </li>
          <li class="nav-item m-auto">
        <a class="nav-link" href="/user">Gerenciar usuário</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h3 class="card-title">Bem Vindo</h3>
    <h4>{{user}}</h4>
   
  </div>
</div>



{{/if}}



