

{{#each users}}


<div class="card" style="width: 20rem; ">

    <h5 class="card-title text-center">Id:{{id}} - {{login}}</h5>

  <ul class="list-group list-group-flush">
     <li class="list-group-item text-center">
         <a href="user/{{id}}" class=" btn btn-warning m-2">Alterar Senha</a>
         <a href="/painel/deleta/{{id}}" onclick="return confirm('Certeza que deseja deletar o item?')"
         class=" btn btn-danger">Apagar</a>
      </li>
  </ul>
 
</div>




{{/each}}