

/*navbar*/
.btn{
    border-radius: 0;
}

h1{
  color: #7b4ee6;
  text-decoration: underline;
  margin-bottom: 10px;
}


  
.btn-login{
    width: 100px;
    font-weight: bold;
    border-radius: 20px;
  
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}


.bg-nav{

    background:#7b4ee6;
    opacity: 0.9;
}

.search{
    border-radius: 0;
}

.carousel-caption{
    background-color:#ffffff4f;
    padding: 3em;
    color: #0a2153;
    font-weight: bold;
   
}

.slideS{
   height:100vh;
   width: 100%;
   opacity: 0.9;
}

.parallax-window {
    min-height: 300px;
    background: transparent;
 
}
.posts{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;

}

.newP{
    max-width: 200px;
}

.posts img{
    width: 200px;

}

.sobre{
    background-color: #331775;
    padding: 3em;
    color: white;
}

footer{
   
    color: white;
    height: 106px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    border-top: #5d34be 2px solid;
    
  
}

footer a {
   
    color: white;
  
    
  
}

/*login*/

.login{

    height: 100vh;
}

.loginA{
    height: 100vh;
    background-image: url('../img/login.jpg');
    background-size: cover;
    opacity: 0.8;

}

.card{
    width: 50%;
    padding: 3em;
    margin: 70px auto;
}

/*painel*/

.painel{
    height: 63vh;
    
}

/*Novo Post*/

.postar{
    width: 100%;
}

/*gerenciar*/

.gerenciar{
    margin: 5em;
    display: flex;
   
    background-color: #e7e7e7;
}

.previa{
  

    text-overflow: ellipsis;
    overflow: hidden; 
    width: 800px; 
    height: 1.2em; 
    white-space: nowrap;
    
}
/*newsletter*/

h2{
    color: white;
    text-decoration: underline;
    font-size: 2em;
    padding-top: 20px;
}

.newsletter{
    background-image: url('../img/Sun-Tornado.svg');
    background-size: cover;
    height: 50vh;
     /* background by SVGBackgrounds.com */

}

.newsletterForm *{
    height: 55px;
}




.newsletterForm{
    margin: 2em auto;
    width: 60%;
    text-align: center;
   
}

.p404{
    padding-top: 6em;
    height: 100vh;
    background-color:#331775;
    color: white;
    text-align: center;
  
}


 

  /*Device = Tablets, Ipads*/
  @media (min-width: 481px) and (max-width: 767px) {


    .loginA{
        display: none;
    }

    .loginB{
       text-align: center;
       
    }

    .btnLogin{
       width:100%;
    }

    .buscar{
        display:none;
    }

    .card{
        width: 100%;
        padding: 0;
    }
   
    
    .slideS{
        height: 50vh;
        margin-top: 55px;
    }

    .display-4{
        font-size: 25px;
        
    }

    .previa{
        width:200px;
      
    }
    
    
  }
  
 

/*Device = mobile */
  @media (min-width: 320px) and (max-width: 480px) {

    
    .newsletterForm{
        margin: 2em auto;
        width: 100%;
        text-align: center;
       
    }

    .loginA{
        display: none;
    }

    .loginB{
       text-align: center;
       
    }

    .btnLogin{
        width:100%;
     }

    .card{
        width: 100%;
        padding: 0;
    }
   
    .slideS{
        height: 40vh;
        margin-top: 55px;
    }

    .display-4{
        font-size: 25px;
        
    }

    .previa{
        width:200px;
      
    }

    .buscar{
        display:none;
    }
  
    
  }



